<div class="jumbotron vertical-center" [ngSwitch]="formstate">

    <div class="container" align="center" *ngSwitchCase="'invalid'">
      <div class="row">
          <div class="col"></div>
          <div class="col-4">
            <h3>
              Change Password
            </h3>
          </div>
          <div class="col"></div>
        </div>

        <div class="row">
          <div class="col"></div>
          <div class="col-4">
              <div class="alert alert-danger" role="alert">
                  Invalid password
                </div>
          </div>
          <div class="col"></div>
        </div>

        <div class="row">
          <div class="col"></div>
          <div class="col-4">
              &nbsp;<br/>
              <button type="button" class="btn btn-primary pull-right" (click)="formstate='form'">Retry</button>
          </div>
          <div class="col"></div>
        </div>
    </div>

    <div class="container" align="center" *ngSwitchCase="'changed'">
      <div class="row">
        <div class="col"></div>
        <div class="col-4">
          <h3>
            Change Password
          </h3>
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col-4">
            <div class="alert alert-success" role="alert">
                Password changed successfully.
              </div>
        </div>
        <div class="col"></div>
      </div>
    </div>

    <div class="container" align="center" *ngSwitchCase="'form'">
      <div class="row">
        <div class="col"></div>
        <div class="col-4">
          <h1>
            Change Password
          </h1>
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col-4">
            <input type="password" id="userName" class="form-control input-sm chat-input" placeholder="Current Password" [(ngModel)]="currpassword" />
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col-4">
            <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="New Password" [(ngModel)]="newpassword" />
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
          <div class="col"></div>
          <div class="col-4">
              &nbsp;<br/>
              <button type="button" class="btn btn-primary pull-right" (click)="doChangePassword()" [disabled]="checkChangeButtonEnabled()">Change Password</button>
          </div>
          <div class="col"></div>
        </div>
    </div>
  </div>
