.work-area-gid {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 50px 50px auto;
}


.work-area-gid .tools .row2 {
  grid-column: 1;
  column-span: all;
  grid-row: 1;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 10000;
}

.control {
  margin-bottom: 5px;

  display: inline;
}

.control .delete-button {
  float: right;
}

.number-input {
  width: 50px;
}
