<mat-toolbar>
  <mat-toolbar-row>
    <button mat-raised-button color="accent" mat-button (click)="onDeleteSelected()">Delete Selected</button>
    <span class="example-spacer"></span>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = onPageChange($event)">
    </mat-paginator>
  </mat-toolbar-row>
</mat-toolbar>

<br />

<div>
  <ng-container *ngFor="let data of pageData">
    <app-roi-element *ngFor="let roi of data.areas" imgname="{{data.filename}}" [roidata]="roi">
    </app-roi-element>
  </ng-container>

</div>

